@use "../vars";

.unavailablePage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.unavailableContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 500px;
  padding: vars.$padding * 3;
}

.unavailableTitle {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: vars.$margin * 3;
  color: var(--textColorPrimary);
}

.unavailableMessage {
  color: var(--textColorSecondary);
  margin-bottom: vars.$margin * 3;
  line-height: 1.5;
}

.unavailableDetails {
  font-size: 0.9em;
  color: var(--textColorTertiary);
  line-height: 1.4;

  code {
    background-color: var(--contentColor);
    padding: 2px 6px;
    border-radius: 3px;
    font-family: monospace;
  }
}
