.page {
  :global(.TableCell) {
    &.title {
      flex-grow: 1.5;
    }

    &.active {
      flex-grow: 0.4;
    }

    &.resumed {
      flex-grow: 0.4;
    }

    &.age {
      flex-grow: 0.3;
    }
  }
}
