name: Release

on:
  push:
    tags:
      - v*

permissions:
  contents: write
  id-token: write

jobs:
  release:
    name: release

    runs-on: ubuntu-22.04
    environment: publishing

    env:
      VITE_PRESERVE_MODULES: "false"

    steps:
      - name: Checkout plugin
        uses: actions/checkout@v5

      - name: Check if package version matches
        run: test "${GITHUB_REF_NAME}" = "v$(jq -r .version package.json)"

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          package-manager-cache: false
          registry-url: https://registry.npmjs.org

      - name: Setup pnpm
        run: corepack enable

      - name: Get pnpm cache directory
        shell: bash
        run: echo "pnpm_cache_dir=$(pnpm store path)" >> ${GITHUB_ENV}

      - name: Use pnpm cache
        uses: actions/cache@v4
        with:
          path: ${{ env.pnpm_cache_dir }}
          key: ubuntu-22.04-x64-node-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ubuntu-22.04-x64-node-

      - name: Install pnpm dependencies
        id: install-pnpm
        run: timeout 300 pnpm install --color=always --prefer-offline --frozen-lockfile
        continue-on-error: true

      - name: Install pnpm dependencies (retry)
        if: steps.install-pnpm.outcome == 'failure'
        run: timeout 300 pnpm install --color=always --prefer-offline --frozen-lockfile

      - name: Build packages
        run: pnpm --color=always --stream build

      - name: Pack packages
        run: pnpm --color=always --stream pack

      - name: Publish npm packages
        id: publish-npm
        run: |
          case "${GITHUB_REF_NAME}" in
            *-*) dist_tag=next;;
            *) dist_tag=latest;;
          esac
          pnpm --color=always publish -r \
            --no-git-checks \
            --tag ${dist_tag}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        continue-on-error: true

      - name: Publish npm packages (retry)
        id: publish-npm-2
        if: steps.publish-npm.outcome == 'failure'
        run: |
          case "${GITHUB_REF_NAME}" in
            *-*) dist_tag=next;;
            *) dist_tag=latest;;
          esac
          pnpm --color=always publish -r \
            --no-git-checks \
            --tag ${dist_tag}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        continue-on-error: true

      - name: Publish npm packages (retry 2)
        if: steps.publish-npm-2.outcome == 'failure'
        run: |
          case "${GITHUB_REF_NAME}" in
            *-*) dist_tag=next;;
            *) dist_tag=latest;;
          esac
          pnpm --color=always publish -r \
            --no-git-checks \
            --tag ${dist_tag}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          fail_on_unmatched_files: true
          files: |-
            *.tgz
