name: Test update

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  knip:
    name: test update

    runs-on: ubuntu-22.04
    timeout-minutes: 60

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          package-manager-cache: false

      - name: Setup pnpm
        run: corepack enable

      - name: Get pnpm cache directory
        shell: bash
        run: echo "pnpm_cache_dir=$(pnpm store path)" >> ${GITHUB_ENV}

      - name: Use pnpm cache
        uses: actions/cache@v4
        with:
          path: ${{ env.pnpm_cache_dir }}
          key: ubuntu-22.04-x64-node-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ubuntu-22.04-x64-node-

      - name: Install pnpm dependencies
        id: install-pnpm
        run: timeout 300 pnpm install --color=always --prefer-offline --frozen-lockfile
        continue-on-error: true

      - name: Install pnpm dependencies (retry)
        if: steps.install-pnpm.outcome == 'failure'
        run: timeout 300 pnpm install --color=always --prefer-offline --frozen-lockfile

      - name: Update pnpm dependencies
        id: update-pnpm
        run: timeout 300 pnpm update -D @freelensapp/extensions@latest --color=always
        continue-on-error: true

      - name: Update pnpm dependencies (retry)
        if: steps.update-pnpm.outcome == 'failure'
        run: timeout 300 pnpm update -D @freelensapp/extensions@latest --color=always

      - name: Build packages
        run: pnpm --color=always --stream build
